.juzhong{text-align: center;}
.zuo{text-align: left;}
.you{text-align: right;}
.fangsong{ font-family: "楷体" }
.youbian{float:left;}
.zhongji{float: center;}
.size{ font-size: 22px; }
.xia{ float:bottom; }